# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
venv/
ENV/
env/
.env

# MacOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project Assets (if they should be ignored)
# static/assets/
